$primary-color: #6d03cc;
$secondary-color: #f300a4;
$body-background: white;
$header-color: #7840bb;
$gradient: linear-gradient(to right top, $primary-color, $secondary-color);


//sizing

$header-height: 100px;
$member-width: 200px;
$resources-left-padding: 30px;
$resources-line-height: 1.7;
$resources-subheader-size: 2.5rem;
$resources-big-text-size: 2.4rem;
$resources-text-size: 1.7rem;
